<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav class="font-main sticky top-0 z-0 flex h-auto min-h-16 flex-wrap items-center justify-between gap-y-3 z-10 self-stretch border-b border-solid border-line bg-nav-bg px-4 py-3 font-par sm:px-6 lg:h-18 lg:flex-nowrap lg:px-6 lg:py-4">
        <div class="ml-0 flex items-center gap-2 lg:ml-3">
            <div>
                {% include 'components/icons/logo.html' %}
            </div>
            <h2 class="text-[1rem] font-bold font-par text-nav-brand">Thrift.io</h2>
        </div>
        <ul class="order-last flex w-full items-center justify-start gap-5 overflow-x-auto whitespace-nowrap text-xs text-nav-link lg:order-none lg:w-auto lg:gap-6 lg:text-base">
            <li><a href="">Marketplace</a></li>
            <li><a href="">Event</a></li>
            <li><a href="">News</a></li>
            <li><a href="{% url 'forum:forum_page' %}">Forum</a></li>
            <li><a href="">Outfit Builder</a></li>
        </ul>
        <div class="mr-0 flex justify-end gap-2 font-par lg:mr-5 lg:gap-3">
            <button class="inline-flex h-9 items-center justify-center gap-2 overflow-hidden px-3 text-xs text-nav-mark-bg shadow-[3px_3px_0px_0px_rgba(18,18,18,1.00)] outline-2 outline-offset-[-2px] outline-neutral-900 bg-surface lg:h-10 lg:px-4 lg:text-base">Login</button>
            <button class="inline-flex h-9 items-center justify-center gap-2 overflow-hidden px-3 text-xs text-nav-mark-text shadow-[3px_3px_0px_0px_rgba(18,18,18,1.00)] outline-2 outline-offset-[-2px] outline-neutral-900 bg-accent lg:h-10 lg:px-4 lg:text-base">Register</button>
        </div>
    </nav>
</body>
</html>