<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav class="flex h-18 bg-[#F2C14E] p-[1rem 1.5rem] items-center justify-between self-stretch font-par text-[#3B2F12] border-b border-solid border-[#111]">
        <div class="flex items-center ml-3">
            <div>
                {% include 'components/icons/logo.html' %}
            </div>
            <h2 class="text-[1rem] font-bold font-par">Thrift.io</h2>
        </div>
        <ul class="flex items-center gap-6 ">
            <li><a href="">Marketplace</a></li>
            <li><a href="">Event</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="">Outfit Builder</a></li>
        </ul>
        <div class="font-par mr-5 flex justify-end gap-3">
            <button class="h-10 px-4 bg-orange-100 shadow-[3px_3px_0px_0px_rgba(18,18,18,1.00)] outline-2 outline-offset-[-2px] outline-neutral-900 inline-flex justify-center items-center gap-2 overflow-hidden">Login</button>
            <button class="h-10 px-4 bg-orange-500 shadow-[3px_3px_0px_0px_rgba(18,18,18,1.00)] outline-2 outline-offset-[-2px] outline-neutral-900 inline-flex justify-center items-center gap-2 overflow-hidden">Register</button>
        </div>
    </nav>
</body>
</html>